html, body{
  height: 100%;
}

.header{

}
.content{
  max-width: 520px;
  margin: 0 auto;

  form{
    display: table;
  }
}

.first-page{
  max-width: 320px;
}

.select-step{
  .avatar-bg{
    background: #fff!important;
  }
}

.wrapper-header{
  background: #00BCD4;
  height: 240px;
  margin-bottom: 30px;

  img{
    display: block;
    margin: 0 auto;
    padding-top: 50px;
  }
  h1{
    display: block;
    color: #ffffff;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
  }
}