.item-icons {
  cursor: pointer; }
  .item-icons img {
    width: 100px;
    margin: 0 auto;
    display: block; }
  .item-icons:hover p {
    color: #ff4081;
    transition: all .3s ease-out; }
  .item-icons p {
    color: #000000;
    text-align: center;
    transition: all .3s ease-out; }
