.seats-form-wrapper {
  width: 100%; }

.seats {
  width: 80%; }
  .seats p {
    margin: 5px 0; }
  .seats .seat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 2px;
    border: 1px solid #999999;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    background-color: #006DB6; }
  .seats .seat-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #999999;
    margin: 2px; }

.seats-row {
  float: left; }

.pool {
  width: 40%;
  margin-left: 10px;
  border-radius: 50% 0 0 0;
  background-color: #03A9F4;
  display: flex;
  justify-content: center;
  align-items: center; }
  .pool span {
    transform: rotate(-90deg);
    color: #ffffff; }

.arena_svg {
  width: 100%; }

.st0 {
  fill: #B1B2B3;
  stroke: #575656;
  stroke-width: 1.1282;
  stroke-miterlimit: 22.9256; }

.st1 {
  fill: #51AEE2;
  stroke: #575656;
  stroke-width: 1.203;
  stroke-miterlimit: 22.9256; }

.st2 {
  fill: #575656; }

.st3 {
  fill: #FFFFFF; }

.st4 {
  fill: #006DB6;
  stroke: #000000;
  stroke-width: 0.5669;
  stroke-miterlimit: 22.9256; }

.st6 {
  font-size: 20.0015px; }

@media only screen and (max-width: 920px) {
  seats-wrapper {
    transform: rotate(90deg); } }

g.selected, g.other-selected {
  stroke: #FFFFFF; }
  g.selected path, g.other-selected path {
    fill: #151846; }

g.sold path {
  fill: #29e143; }

g.sold text {
  fill: #000000; }

g.reserved path {
  fill: #6893c7; }

g.reserved text {
  fill: #FFFFFF; }

svg g g g {
  cursor: pointer; }
  svg g g g:hover > path {
    fill: #dd24ff; }
