html, body {
  height: 100%; }

.content {
  max-width: 740px;
  margin: 0 auto; }
  .content form {
    display: table; }

.first-page {
  max-width: 320px; }

.select-step .avatar-bg {
  background: #fff !important; }

.wrapper-header {
  background: #00BCD4;
  height: 240px;
  margin-bottom: 30px; }
  .wrapper-header img {
    display: block;
    margin: 0 auto;
    padding-top: 50px; }
  .wrapper-header h1 {
    display: block;
    color: #ffffff;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px; }

.item-icons {
  cursor: pointer; }
  .item-icons img {
    width: 100px;
    margin: 0 auto;
    display: block; }
  .item-icons:hover p {
    color: #ff4081;
    transition: all .3s ease-out; }
  .item-icons p {
    color: #000000;
    text-align: center;
    transition: all .3s ease-out; }

.seats-form-wrapper {
  width: 100%; }

.seats {
  width: 80%; }
  .seats p {
    margin: 5px 0; }
  .seats .seat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 2px;
    border: 1px solid #999999;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    background-color: #006DB6; }
  .seats .seat-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #999999;
    margin: 2px; }

.seats-row {
  float: left; }

.pool {
  width: 40%;
  margin-left: 10px;
  border-radius: 50% 0 0 0;
  background-color: #03A9F4;
  display: flex;
  justify-content: center;
  align-items: center; }
  .pool span {
    transform: rotate(-90deg);
    color: #ffffff; }

.arena_svg {
  width: 100%; }

.st0 {
  fill: #B1B2B3;
  stroke: #575656;
  stroke-width: 1.1282;
  stroke-miterlimit: 22.9256; }

.st1 {
  fill: #51AEE2;
  stroke: #575656;
  stroke-width: 1.203;
  stroke-miterlimit: 22.9256; }

.st2 {
  fill: #575656; }

.st3 {
  fill: #FFFFFF; }

.st4 {
  fill: #006DB6;
  stroke: #000000;
  stroke-width: 0.5669;
  stroke-miterlimit: 22.9256; }

.st6 {
  font-size: 20.0015px; }

@media only screen and (max-width: 920px) {
  seats-wrapper {
    transform: rotate(90deg); } }

g.selected, g.other-selected {
  stroke: #FFFFFF; }
  g.selected path, g.other-selected path {
    fill: #151846; }

g.sold path {
  fill: #29e143; }

g.sold text {
  fill: #000000; }

g.reserved path {
  fill: #6893c7; }

g.reserved text {
  fill: #FFFFFF; }

svg g g g {
  cursor: pointer; }
  svg g g g:hover > path {
    fill: #dd24ff; }

.selected {
  background: rgba(184, 184, 184, 0.4); }

.react-notif-error > div {
  background-color: rgba(255, 123, 114, 0.79) !important; }
  .react-notif-error > div button {
    color: red !important; }

.react-notif-success > div {
  background-color: #66cf92 !important; }
  .react-notif-success > div button {
    color: red !important; }
